@media screen and (max-width: 900px){
  header.show-mobile-menu::before{
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
  }

  .navbar .menu-link{
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    max-width: 300px;
    left: -300px;
    top: 0;
    background: #fff;
    padding: 75px 40px 0px;
    transition: left 0.2s ease;

  }
  header.show-mobile-menu .navbar .menu-link{
    left: 0;
  }
  .navbar .menu-link li{
    margin-bottom: 30px;
  } 
  .navbar .menu-link li a{
    color: black;
    font-size: 1.3rem;
  }
  .navbar .menu-link .hire-me a{
    padding: 0;
  }
  .navbar :is(#close-menu-btn, #hamburger-btn){
    display: block;
  }
  /* home responsive code */
  .section_container{
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
     }
    .image{
        grid-area: 1/1/2/2;
    }
    .action_btns{
        margin: auto;
    }
    /* about us code */
    .inner-about-us{
      flex-direction: column;
      flex-wrap: wrap;
    }
    .right-about-us{
      width: 100%;
    }
    .right-about-us img{
      border-radius: 50%;
      height: 250px;
      width:80%;
        display: block;
        margin: 0 auto;
        
    }
    
    .left-about-us{
      max-width: 100vh;
    }
    .left-about-us h2{
      font-size: 2rem;
    }
    /* skill home page */
    .hero-message{
      margin-bottom: 80px;
    }

    .icon {
      width: 5.875rem;
      height: 5.25rem;
    }

    /* project title */
    .project-title h2{
      font-size:40px;
      text-decoration: underline;
  
      text-decoration-color: red;
    }

    /* +++++++++ */
    .projects-container {
      flex-direction: column;
    }
  
    .project-container {
      width: 20.875rem;
    }
    .contact-form-container {
      max-width: 23.75rem;
    }

}